* {
  box-sizing: border-box;
  color: lightgoldenrodyellow;
}

body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  background-color: rgb(40, 40, 40);
}

.container {
  position: absolute;
  left: 50%;  
  transform: translateX(-50%);
  margin-bottom: 10%;
}

h1 {
  font-size: 3rem;
}

h1 a i {
  padding-right: 10px;
}


h3 {
  font-size: 1.5rem;
}

h1 + h3 {
  color: goldenrod;
  margin-top: -30px;
}

p, div {
  font-size: 1.3rem;
}

.lessons {
  display: inline-block;
  margin-top: 20px;
}

.lesson {
  font-size: 1.5rem;
  margin-left: -30px;
  margin-bottom: 10px;
}

.lessons .lesson:hover {
  color: gold;
  background-color: darkslategrey;
}

.lesson::before {
  content: "♦";
}

.game {
  display: grid;
  position: relative;
  grid-template-columns: 35% auto;
  grid-template-rows: 20% 0;
  margin: 70px 0 100px 0;
}

.display {
  text-align: center;
  margin-top: 80px;
  margin-left: 25px;
}

.square-name {
  font-size: 5rem;
}

.score {
  font-size: 1.5rem;
}

.board {
  display: none;
  grid-template-columns: 40px repeat(8, 50px);
  grid-template-rows: repeat(8, 50px) 35px;
  width: 440px;
}

.square {
  font-weight: bold;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: lightgoldenrodyellow;
  letter-spacing: 1px;
}

.square, i {
  text-shadow: 
  -1px -1px 0 black,
  1px -1px 0 black,
  -1px 1px 0 black,
  1px 1px 0 black;
}

.light {
  background-color: #ddd;
}

.dark {
  background-color: #111;
}

.helper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls, .pieces {
  margin: 0 0 10px 25px;
}

.pieces {
  border-top: 2px solid lightgoldenrodyellow;
  padding-top: 20px;
  margin-top: 20px;
  width: 60%;
}

.controls label {
  display: inline-block;
  margin-bottom: 3px;
}

.inputs {
  height: 12%;
  width: 60%;
  position: fixed;
  display: grid;
  grid-template-columns: auto auto;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.dark-button {
  background-color: #111;
}

.light-button {
  background-color: #ddd;
}

.dark-button, .light-button {
  font-size: 2.5rem;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
  margin: 5px;
}

.inputs i {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#popup {
  display: block;
  position: fixed;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  font-size: 4rem;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.popup-hidden {
  opacity: 0 !important;
}

.text-input {
  display: inline-block;
  position: fixed;
  width: 100%;
  align-items: center;
  justify-content: center;
  bottom: 20px;
  text-align: center;
}

.move-input, .enter {
  display: inline-block;
  position: relative;
  font-size: 5rem;
  width: 200px;
  height: 120px;
  margin: 0 auto;
  bottom: 20px;
  padding: 10px 0;
  text-align: center;
  color: black;
  outline: none;
  border: 3px solid #111;
  border-radius: 10px;
}

.enter {
  width: 100px;
}

/* Legal Moves */

.legal-moves .game {
  grid-template-columns: 30% 35% auto;
}